@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using BlazorApp.Data
@inject WeatherForecastService ForecastService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@*
    Si la variable "forecasts" está vacía,
    se mostrará el siguiente texto.
*@

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @*
        Se establecen los nombres que tendrán las columnas.
    *@

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>

            @*
                Contenido de las columnas: proviene de "WeatherForecastService".
            *@

            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@*
    Se declara la variable "forecasts".
    Dicha variable, recoge la fecha actual.
*@

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
