@page "/"

<PageTitle>Index</PageTitle>

<h1>Hola, Mundo!!!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@*
Añadir función de la página "Counter" en "Home".
Cada vez que se pulsa el botón, el incremento aumenta en 10.
*@
<Counter IncrementAmount="10" />

<br><br>

@*
Añadir función de la página "FetchData" en "Home".
*@
<FetchData />